
.bg-gray{
	background: #f4f6f8;
}
.text-center{
  text-align: center;
}

.view-img-container{
  column-count: 1;
  column-gap: 0;
  counter-reset: item-counter;

}

@media screen and (min-width: 400px) {
  .view-img-container{
    column-count: 2;
  }
}

@media screen and (min-width: 600px) {
  .view-img-container{
    column-count: 3;
  }
}

@media screen and (min-width: 800px) {
  .view-img-container{
    column-count: 4;
  }
}

@media screen and (min-width: 1100px) {
  .view-img-container{
    column-count: 55;
  }
}