@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e6db";
}
.icon-search:before {
  content: "\e612";
}
.icon-eye:before {
  content: "\e613";
}
.icon-change:before {
  content: "\e614";
}
.icon-user:before {
  content: "\e615";
}
.icon-link:before {
  content: "\e618";
}
.icon-subscribe:before {
  content: "\e619";
}
.icon-close-c:before {
  content: "\e61e";
}
.icon-refresh:before {
  content: "\e61f";
}
.icon-sort-u:before {
  content: "\e623";
}
.icon-left:before {
  content: "\e624";
}
.icon-right:before {
  content: "\e625";
}
.icon-up:before {
  content: "\e626";
}
.icon-down:before {
  content: "\e627";
}
.icon-return:before {
  content: "\e628";
}
.icon-all:before {
  content: "\e629";
}
.icon-dash:before {
  content: "\e62a";
}
.icon-message:before {
  content: "\e62b";
}
.icon-edit:before {
  content: "\e62c";
}
.icon-zhushi:before {
  content: "\e62d";
}
.icon-tixing:before {
  content: "\e62e";
}
.icon-shijian:before {
  content: "\e62f";
}
.icon-youjian:before {
  content: "\e630";
}
.icon-weizhi:before {
  content: "\e634";
}
.icon-shangchuan:before {
  content: "\e635";
}
.icon-xiazai:before {
  content: "\e636";
}
.icon-shoucang:before {
  content: "\e638";
}
.icon-guanzhu:before {
  content: "\e639";
}
.icon-wenjianjia:before {
  content: "\e63a";
}
.icon-zengjia:before {
  content: "\e640";
}
.icon-dianhua:before {
  content: "\e642";
}
.icon-tupian:before {
  content: "\e644";
}
.icon-jinggao:before {
  content: "\e645";
}
.icon-shezhi:before {
  content: "\e64a";
}
.icon-BBDshoucang2:before {
  content: "\e64b";
}
.icon-BBDxiangji:before {
  content: "\e64d";
}
.icon-BBDanquan:before {
  content: "\e656";
}
.icon-BBDgouxuan:before {
  content: "\e657";
}
@font-face {
  font-family: "lushen";
  src: url('font.otf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('font2.otf') format('svg');
  /* iOS 4.1- */
}
body,
html {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  width: 100vw;
  font-family: 'lushen';
  background: #fafafa;
}
.header {
  height: 60px;
  color: #262626;
  padding: 15px;
}
.header .menu {
  font-size: 18px;
  transition: all .4s;
  cursor: pointer;
  transform: rotate(-90deg);
}
